body {
    background-color: pink;
    display: flex;
    justify-content: center;
}

.container {
    background-color: rgb(233, 159, 233);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}